# Documentation and license
include README.md
include LICENSE

# Application assets
include textfsmgen/ui/images/icon_logo.png

# Source files
recursive-include textfsmgen *.py
recursive-include textfsmgen *.yaml
